:root {
  --primary-bg-color: #ecf0f1;
  --primary-text-color: #000000;
  --secondary-bg-color: #4b59f0;
  --secondary-text-color: #ffffff;
  --accent-color: #6571f1;
  --button-bg-color: #4b59f0;
  --link-color: #346BD4;
  --gray-text-color: #858585;
}

/* Dark Theme */
[data-theme="dark"] {
  --primary-bg-color: #212529;
  --primary-text-color: #ffffff;
  --secondary-bg-color: #4b59f0;
  --secondary-text-color: #000000;
  --accent-color: #6571f1;
  --button-bg-color: #6571f1;
  --link-color: #5a87d4;
  --gray-text-color: #c1c1c1;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



